.turk {
  background-color:#008B8B;
  height: 100px;
  padding:0px;
}


.blowme {
  margin-left: 0px;
}

.tall {
  background: #FFF;
  height: 100%;
}

.omnomnom {
  background: #FFF;
  height:100%;
}

body {
  background: #030B82;
}
