.container2 {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color:#008B8B;
    width: 100%;
    padding-left: 20px;
}

.menubuttongroup {
    display:block;
    width: 50%;
    margin: 0 auto;
}

.navbar-inverse {
    margin-bottom: 0px;
}

body {
  background: #261594;
}

.contentarea {
  background: url('cat.jpg');
}
.input-group {
  width: 50px;
}
.table tbody tr.info>td {
  margin-bottom: 0px !important;
  background: green !important;
}
h2 {
  font-size: 13px;
}
h3 {
  font-size: 13px;
}
h4 {
  font-size: 13px;
}
